<section>
  <div class="container">
    <div class="left">
      <img src="../../../../assets/images/si2.jpg" alt="" />
    </div>
    <div class="right">
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="title">
          <h1>Sign In</h1>
        </div>
        <div class="input-container">
          <i class="fa-regular fa-envelope"></i>
          <input
            type="text"
            name="email"
            class="form-control"
            formControlName="email"
            required
          />
          <label for="email">Email</label>
          <div
            class="validation-error"
            *ngIf="controls.email.invalid && controls.email.dirty"
          >
            Email is invalid.
          </div>
          <div
          class="validation-error"
          *ngIf="controls.email.errors?.['required'] && controls.email.dirty"
        >
          This field is required!
        </div>
        </div>

        <div class="input-container">
          <i class="fa-solid fa-lock"></i>
          <input
            type="password"
            required
            class="form-control"
            formControlName="password"
          />
          <label for="password">Password</label>
          <div
          class="validation-error"
          *ngIf="controls.password.errors?.['required'] && controls.password.dirty"
        >
          This field is required!
        </div>
        </div>
        <div class="forget">
          <h1><a href="#">Forget Password?</a></h1>
        </div>
        <div class="buttons">
          <button><a routerLink="/user/signIn">Log in</a></button>
          <button><a routerLink="/user/register"> Register</a></button>
        </div>
      </form>
    </div>
  </div>
</section>
