<section>
  <div class="container">
    <div class="left">
      <img src="../../../../assets/images/si2.jpg" alt="" />
    </div>
    <div class="right">
      <form action="">
        <div class="title">
          <h1>Sign In</h1>
        </div>
        <div class="input-container">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" required />
          <label for="email">Email </label>
        </div>

        <div class="input-container">
          <i class="fa-solid fa-lock"></i>
          <input type="password" required />
          <label for="password">Password</label>
        </div>
        <div class="forget">
          <h1><a href="#">Forget Password?</a></h1>
        </div>
        <div class="buttons">
          <button><a routerLink="/user/signIn">Log in</a></button>
          <button><a routerLink="/user/register"> Register</a></button>
        </div>
      </form>
    </div>
  </div>
</section>
