<section>
  <div class="first">
    <div class="img-container" data-aos="fade-right" data-aos-duration="3000" data-aos-once="true">
      <img src="../../../assets/images/1.jpeg" alt="" />
    </div>
    <div class="content-container">
      <h1>Lorem ipsum</h1>
    </div>
  </div>

  <div class="second">
    <div class="img-container" data-aos="fade-down" data-aos-duration="3000" data-aos-once="true">
      <img src="../../../assets/images/3.jpg" alt="" />
    </div>
    <div class="content-container">
      <h1>Lorem ipsum</h1>
    </div>
  </div>

  <div class="third">
    <div class="img-container" data-aos="fade-up" data-aos-duration="3000" data-aos-once="true">
      <img src="../../../assets/images/2.jpg" alt="" />
    </div>
    <div class="content-container">
      <h1>Lorem ipsum</h1>
    </div>
  </div>

  <div class="forth">
    <div class="img-container" data-aos="fade-left" data-aos-duration="3000" data-aos-once="true">
      <img src="../../../assets/images/4.jpg" alt="" />
    </div>
    <div class="content-container">
      <h1>Lorem ipsum</h1>
    </div>
  </div>
</section>

