<header>
  <nav>
    <div class="logo">
      <h1>Art<span>.</span></h1>
    </div>
    <!-- 
    <div class="menu-icon" [class.menu_iconClass]="menu_icon_variable"(click)="openMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div> -->
    <div class="menu" [class.menuClass]="menuVariable">
      <ul>
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="/exhibitions"
            routerLinkActive="active"
            >Exhibition</a
          >
        </li>
        <!-- <li><a href="#">Home</a></li> -->
      </ul>
    </div>

    <div class="icons">
      <ul>
        <li>
          <a
            ><i
              class="fa-solid fa-heart"
              aria-current="page"
              routerLink="/favorites"
              routerLinkActive="active"
            ></i
          ></a>
        </li>
        <li>
          <a
            ><i
              class="fa-solid fa-user"
              aria-current="page"
              routerLink="/user"
              routerLinkActive="active"
            ></i
          ></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
