<section>
  <div class="left">
    <div class="img-container">
      <div class="image">
        <img src="../../../assets/images/gallery1.jpg" alt="" id="preview" />
      </div>
      <div class="img-prev">
        <div class="img-slide active">
          <img src="../../../assets/images/gallery1.jpg" alt="" appGallery />
        </div>

        <div class="img-slide">
          <img src="../../../assets/images/gallery3.jpg" alt="" appGallery />
        </div>

        <div class="img-slide">
          <img src="../../../assets/images/gallery2.jpg" alt="" appGallery />
        </div>

        <div class="img-slide">
          <img src="../../../assets/images/gallery5.jpg" alt="" appGallery />
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="right-container">
      <div class="title" data-aos="fade-down" data-aos-duration="3000" data-aos-once="true">
        <h1>Art Gallery</h1>
      </div>

      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum
          optio itaque possimus. Tenetur ducimus dolore cum rem eligendi,
          cupiditate quaerat, quia suscipit itaque ea sint in nostrum aperiam
          debitis.
        </p>
      </div>
    </div>
  </div>
</section>
