<div class="slideshow-container">
  <div
    *ngFor="let slide of slides; let i = index"
    class="mySlides fade"
    [style.display]="i === currentSlideIndex ? 'block' : 'none'"
  >
    <img [src]="slide.image" [alt]="slide.alt" />

    <div class="dot-container">
      <span
        *ngFor="let slide of slides; let i = index"
        class="dot"
        [class.active]="i === currentSlideIndex"
        (click)="setCurrentSlide(i)"
      ></span>
    </div>
  </div>
  <div class="search-container">
    <div class="input-box">
      <form role="search">
        <label for="search"></label>
        <input
          type="text"
          id="input"
          name="search"
          aria-label="Search"
          [(ngModel)]="searchText"
        />
        <i
          class="fa-solid fa-magnifying-glass"
          id="search-btn"
          (click)="search.emit(searchText)"
        ></i>
      </form>
    </div>
  </div>
</div>
