.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
}
.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../assets/images/bg.jpg);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center;
}
.bg-position {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #030303;
  opacity: 0;
}
.bg {
  opacity: 1 !important;
  transition: 1s all;
  animation-duration: 4s;
  animation-name: changeBackground;
}

.content-container {
  height: calc(100% - 10rem);
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.content-container .title {
  grid-column: 2/12;
  grid-row: 3/6;
}

.text-container {
  grid-column: 2/12;
  grid-row: 7/13;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.title h1 {
  font-size: 4.5rem;
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.367);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  font-weight: 700;
}
.title h2 {
  font-size: 2rem;
  font-weight: 400;
}
.content:nth-of-type(1) {
  grid-column: 1/4;
}
.content:nth-of-type(2) {
  grid-column: 4/8;
}
.content:nth-of-type(3) {
  grid-column: 8/12;
}
.content h1 {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.367);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  padding-left: 2rem;
  font-weight: 600;
}
.content h2 {
  font-size: 1.7rem;
  border-left: 2.5px solid rgb(255, 255, 255);
  padding-left: 1rem;
}
.content p {
  font-size: 1.5rem;
  border-left: 2.5px solid rgb(242, 242, 242);
  padding-left: 1rem;
}
.dark .content h1 {
  transition: 0.5s;
  color: white;
  text-shadow: 0 0 10px #9667e0, 0 0 20px #9667e0, 0 0 30px #9667e0;
}

.darkTitle h1 {
  transition: 0.5s;
  color: white;
  text-shadow: 0 0 5px #9667e0, 0 0 10px #9667e0, 0 0 15px #9667e0,
    0 0 20px #9667e0;
}

@keyframes changeBackground {
  0% {
    opacity: 0.1 !important;
  }
  10% {
    opacity: 0.2 !important;
  }
  20% {
    opacity: 0.3 !important;
  }
  30% {
    opacity: 0.4 !important;
  }
  40% {
    opacity: 0.5 !important;
  }
  50% {
    opacity: 0.6 !important;
  }
  60% {
    opacity: 0.7 !important;
  }
  70% {
    opacity: 0.8 !important;
  }
  80% {
    opacity: 0.9 !important;
  }
  90% {
    opacity: 0.99 !important;
  }
  100% {
    opacity: 1 !important;
  }
}

@media (max-width: 740px) {
  .container{
    height: fit-content;
  }
  .content-container .title {
    grid-column: 2/12;
    grid-row: 2/4;
  }
  .text-container {
    grid-column: 2/12;
    grid-row: 5/13;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .title h1 {
    font-size: 3.5rem;
  }
  .title h2 {
    font-size: 1.5rem;
  }
  .content h1 {
    font-size: 3rem;
  }
  .content h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 475px) {
  .content-container .title {
    grid-column: 2/12;
    grid-row: 1/4;
  }
}
